body {
    font-family: Arial, sans-serif;
    background-color: #55eb34;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
